/* New CSS  */

*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
.mainroot{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}
.intro{
    
    background-color: #F8F8F8; 
    /* background-color: red; */
    min-height: 100vh;
    height: fit-content;
}

.introdescription{
 
    display: flex;
    align-items: center;
    justify-content: space-around;
   

padding-top: 12rem;
padding-bottom: 2rem;
    
}
.intro-desc p{
    font-size: 1.2rem;
    margin-top: 2.4em;
    max-width: 500px;
}
.resume{
    
    display: inline;
 
}
.typewriter{
    display: inline;
}
.right-desc{
    display: inline;
}


.tw-effect{
    color: red;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.2rem;
 
}
.intro-heading{
   line-height: 1.2;
    
    
    font-weight: bold;
    font-size: 3rem;
}
.ih-2{
    color:#2978b5
}
.btn-resume{

 
 margin-top: 2rem;
    width: 180px;
   height: 50px;
   outline: none;
   border: none;
   font-size: 1rem;
   font-weight: bold;
   border-radius: 8px;
   background-color: #FF4546;
   color: white;
   cursor: pointer;
   
   
   
   }

.btn-resume>a{
    
    text-decoration: none;
    color: white; 
 } 

.btn-resume:hover{
    background-color: black;
    
}
.particles{
 
    position: absolute;
   /* min-height: 100vh; */
    /* overflow-y: hidden; */
    
    max-height: 100vh !important;
    overflow-y: hidden !important;
}



/* For very small mobile devices  */


@media screen and (max-width: 320px) and (min-width:0px)
{
    
    .introdescription{
        
        flex-direction: column-reverse;
     
        justify-content: center;
        
       
        padding-bottom: 0.5rem;
        
    }
    .left-wrapper{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .tw-effect{
        

      
     
        font-size: 1.1rem;
        margin-top: 1rem;
     
    }
    .intro-heading{
        text-align: center;
        
   
        font-size: 1.4rem;
    }
    .intro-desc p{
        font-size: 1rem;
        margin: 1rem 1rem 0rem 1rem;
        padding: 0px 0.3rem;
     

        
    }
    .btn-resume{
 
    
        margin-top: 1rem;
           width: 100px;
          height: 40px;
          font-size: 0.8rem;
         
          
          
          
          
          }
 
}







/* For Most of the Smartphones  */

@media screen and (max-width: 480px) and (min-width:320px)
{
  
    .introdescription{
  
        flex-direction: column-reverse;
        justify-content: center;
        padding-bottom: 1rem;
        
    }
    .left-wrapper{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .tw-effect{
        font-size: 1.5rem;
        margin-top: 1rem;
     
    }
    .intro-heading{
    text-align: center;
     

        font-size: 2rem;
    }
    .intro-desc p{
        font-size: 1rem;
        margin-top: 1.4em;
         padding: 0px 2rem;
    }
    .btn-resume{
        width: 125px;
        height: 42.5px;
    }
 
}

/* For low resolution Tablets  */


@media screen and (max-width: 768px) and (min-width:480px)
{
    
.particles{
    height: fit-content !important;
    overflow-y: hidden !important;
    inset: 0;
}

    .introdescription{
        
        flex-direction: column-reverse;
        justify-content: center;
        padding-bottom: 1rem;
        
    }
    .left-wrapper{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .tw-effect{
        
        font-size: 1.7rem;
        margin-top: 1rem;
     
    }
    .intro-heading{
        text-align: center;
        font-size: 2.2rem;
    }
    .intro-desc p{
        font-size: 1.2rem;
        margin-top: 1.4em;
        max-width: 500px;
        padding: 0px 2rem;
    }
    .btn-resume{
        width: 130px;
        height: 45px;
    }
 
}


/* For Tablets/Ipad  */


@media screen and (max-width: 1023px) and (min-width:768px)
{
   
    .introdescription{
        
        flex-direction: column-reverse;
        justify-content: center;
        padding-bottom: 1rem;
        
    }
    .left-wrapper{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .tw-effect{
        

        color: blueviolet;
        
        font-size: 1.9rem;
        margin-top: 1rem;
     
    }
    .intro-heading{
        text-align: center;
      
        font-size: 2.4rem;
    }
    .intro-desc p{
        font-size: 1.4rem;
        margin-top: 1.4em;
        max-width: 500px;
        padding: 0px;
    }
    .btn-resume{
        width: 135px;
    height: 47.5px;
    }
 
}

