* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


.logo--size--adjust{
  width: 100px;
  height: 100px;
}
.html5{
  fill: red;
}
.css3{
  fill: blue;
}
.javascript{
  fill: #EAD41C;
}
.bootstrap{
  fill: #8B0BFC;
}
.tailwind{
  fill: #38BDF8;
}
.mongodb{
  fill: #119250;
}
.react{
  fill: #61DBFB;
}
.nodejs{
  fill: #8CC84B;
}
.git{
  fill: #F34F29;
}
.adobeillustrator{
  fill: #330000;
}


.tools-heading {
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}
.tools-icon-container {
  width: 100vw;
  margin: 0px auto;
}
.tools-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}



/* For very low screen device  */


@media screen and (max-width: 320px) and (min-width:0px) {
  .logo--size--adjust {
    color: blue !important;
    width: 20px;
    height: 20px;
  }
  .tools-heading {
    
    font-size: 25px;
    padding: 8px;
    margin: 8px;
  }
}



/* For Most of the Smartphones  */

@media screen and (max-width: 480px) and (min-width:320px) {
  .logo--size--adjust {
    color: blue !important;
    min-width: 30px;
    min-height: 30px;
    max-width: 40px;
    max-height: 40px;
  }
  .tools-heading {
   
    font-size: 35px;
    
    padding: 12px;
    margin: 12px;
  }
}


/* For low resoltion tablets  */

@media screen and (max-width: 768px) and (min-width:480px) {
  .logo--size--adjust {
    color: blue !important;
  width: 40px;
  height: 40px;
  }
  .tools-heading {
    font-size: 35px;
    padding: 15px;
    margin: 15px;
  }
}

/* For Tablets/Ipad  */


@media screen and (max-width: 1023px) and (min-width:768px) {
  .logo--size--adjust {
    color: blue !important;
  width: 45px;
  height: 45px;
  }
  .tools-heading {
    
    font-size: 40px;
    padding: 15px;
    margin: 15px;
  }
}


