*{
    margin: 0;
    padding: 0;
box-sizing: border-box;

}

header{
    position: fixed;
    /* background-color: green; */
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 10px;
}
.navbar.active{
    background-color: rgba(251, 240, 240, 0.966);
}

ul li{
    /* position: relative; */
    text-align: center;
    display: inline-block;
    padding: 0px 0px;
    list-style: none;
}
ul li a{
    padding: 0px 30px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: all 0.3s ease 0s;

}
ul li a:hover{
    color: red;
}
/* a.isactive::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color:red;
    left: 0px;
    top: 22px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation: appear 0.4s linear;

}
@keyframes appear{
    from{
        width: 0;
    }
    to{
        width: 60%;
    }
} */
a.isactive{
    color: red;
}


