*{
    margin: 0;
    padding: 0;
box-sizing: border-box;

}
.navigation-menu ul{
    display: flex;
}

header{
    position: fixed;
    /* position: relative; */
    /* background-color: green; */
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 10px;
}
.navbar.active{
    background-color: rgba(251, 240, 240, 0.966);
}

ul li{
    /* position: relative; */
    text-align: center;
    display: inline-block;
    padding: 0px 0px;
    list-style: none;
    margin: 0 1rem;
}
ul li a{
    width: 100%;
    display: block;
    padding: 0px 30px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: all 0.3s ease 0s;

}
ul li a:hover{
    color: red;
}
/* a.isactive::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color:red;
    left: 0px;
    top: 22px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation: appear 0.4s linear;

}
@keyframes appear{
    from{
        width: 0;
    }
    to{
        width: 60%;
    }
} */
a.isactive{
    color: red;
}





.hicon{
    width: 30px;
    height: 20px;
    color: #4C3A51
    ;
}


.hamburger {
    /* default was 40 */
  border: 0;
  height: 40px; 
  width: 40px;
  padding: 0.5rem;
  /* border-radius: 50%; */
  /* background-color: #283b8b; */
  background: none;
  
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
/* .hamburger:hover {
  background-color: #2642af;
} */

@media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
    
        .navigation-menu ul {
          display: none;
        }

        .navigation-menu.expanded ul {
            display: flex;
          }
        }
      
  


  @media screen and (max-width: 768px) {
    .navigation-menu ul {
      
      padding: 0;
      position: absolute;
      top: 60px;
      left: 0;
    
      flex-direction: column;
     
      width: 100%;
      /* height: calc(60vh - 77px); */
      height: fit-content;
      /* background-color: rgba(251, 240, 240, 0.966); */
      background-color: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur (5px);
      /* border-top: 1px solid black; */
    }
    .navigation-menu li {
      
      text-align: center;
      margin: 0;
    }
    .navigation-menu li a {
      color: black;
      
      width: 100%;
      padding: 1.5rem 0;
    }
    .navigation-menu li:hover {
      color: red;
    }
  }
  